@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'HSBombaram2.1';
  src: url('assets/fonts/HSBombaram2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-mainColor: #e25f47;
  --color-lightBeige: #fdf7ea;
  --color-darkBeige: #f0d093;
  --color-lightCaramel: #d48c5b;
  --color-lightWalnut: #937066;
  --color-darkWalnut: #473c2c;
  --color-mainWhite: #f9f9fa;
  --color-subWhite: #f5f5f5;
  --color-mainBlack: #17171b;
  --color-subBlack: #26262d;
  --color-mainGray: #a8a8a8;

  --font-mainFont: 'HSBombaram2.1', sans-serif;
  --font-gothicFont: 'Noto Sans KR', sans-serif;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
